.popup__title-field {
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 13px;
}

@media screen and (max-width: 1280px) {
  .popup__title-field {
  }
}

@media screen and (max-width: 320px) {
  .popup__title-field {
  }
}
