@-webkit-keyframes fadeInAnimation {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOutAnimation {
  from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeOutAnimation {
  from { opacity: 1; }
    to { opacity: 0; }
}