@-webkit-keyframes fadeinanimation  {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeinanimation  {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeoutanimation  {
  from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeoutanimation  {
  from { opacity: 1; }
    to { opacity: 0; }
}